@model Image

    <td>
        @Model.Id
    </td>
    <td>
        @Model.Filename
    </td>
    <td>
        @foreach (var tag in Model.ImageTags)
        {
            <div class="tagname">@tag.Name, </div>
        }
    </td>
    <td>
        <img class="image-display" src="../images/@Model.Filename" />
    </td>