@model ViewImagesModel

<h2>@Model.Term</h2>

<table class="images">
    <tr>
        <td>id</td>
        <td>filename</td>
        <td>tags</td>
        <td>image</td>
    </tr>
    @foreach (var im in Model.Images)
    {
        <tr class="image">
            @Html.Partial("Image", im)
            @Html.Partial("ImageControl", im)
        </tr>
    }
</table>